<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ChampionatDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Narcos\source\repos\Laboratory3OOP\Laboratory3OOP\ChampionatDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>